.body-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(47, 67, 75);
}

.container-2 {
    margin: auto;
    width: 40%;
    text-align: center;
    border: 2px solid black;
    padding: 30px 20px;
    border-radius: 15px;
    background-color: rgb(162, 240, 250);
}

.container-2 .h2 {
    font-size: 3.5rem;
    color: rgb(55, 55, 55);
}

.container-2 .form-control{
    border: 1px solid black;
    box-shadow: none;
}

.container-2 .actions {
    display: flex;
    justify-content: space-evenly;
}

.container-2 .actions .btn {
    color: white;
    border: 1px solid black;
}

.container-2 .actions .btn:hover{
    background-color: rgb(13, 191, 245);
    color: rgb(23, 24, 3);
}

/* .login-1{
    border: 1px solid black;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    color: white;
    cursor: pointer;
} */

